.scroll {
  width: 748px;
  height: 1067px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/originals/ed/1e/d0/ed1ed046ddaadd9da1bdaa4fd05c86bd.png");
}

#people {
  text-align: center;
  height: 900px;
  padding: 0px;
  margin: auto;
  margin-top: 0px;
  align-self: auto;
  columns: 2;
}

#peopleList {
  margin: 0px;
  font-size: 17pt;
  padding: 0px;
  padding-bottom: 5px;
  color: black;
  font-family: "Brush Script MT", "Arial Narrow", Arial, sans-serif;
}
