.sorting {
  padding-top: 35px;
}

h2 {
  color: white;
  font-size: 26pt;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

p {
  color: white;
  font-size: 14pt;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 50px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover
{
    color: black;
    text-decoration: none;
}

.card {
  width: 450px;
}

.cardText {
  padding: 21px;
}

#ravenclawCard {
  background-color: #222f5b;
}

#hufflepuffCard {
  background-color: #ecb939;
}

#slytherinCard {
  background-color: #2a623d;
}

#gryffindorCard {
  background-color: #ae0001;
}
