.sorting {
  padding-top: 35px;
}

h2 {
  color: white;
  font-size: 24pt;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 10px;
}

p {
  color: white;
  font-size: 13pt;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 50px;
}

.card {
  width: 450px;
}

.cardText {
  padding: 21px;
}

#ravenclawCard {
  background-color: #222f5b;
}

#hufflepuffCard {
  background-color: #ecb939;
}

#slytherinCard {
  background-color: #2a623d;
}

#gryffindorCard {
  background-color: #ae0001;
}
