.Welcome {
    color: white;
    font-size: 14pt;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

body {
    background-image: url("http://starkovtattoo.spb.ru/images/000/DSC100085787.jpg");
    background-size: cover;
}

p { 
    padding-top: 5px;
}